.chatbox-peer-list .list-group-horizontal {
    margin: 4px;
    padding-left: 1px;
}

.chatbox-peer-list .list-group-horizontal .list-group-item {
    display: inline-block;
}

.chatbox-peer-list .list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-right-width: 0;
}

.chatbox-peer-list .list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.chatbox-peer-list .list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-right-width: 1px;
}

.chatbox-peer-list p {
    height: 24px;
    margin: 4px;
}